.div-main-form-page {
  width: 800px;
  margin-top: 15px;
  margin-left: 85px;
}

.div-ident {
  margin-left: 50px;
}

.input-title-form {
  width: 350px;
}

.input-title-form.top-element {
  margin-top: 45px;    
}

.input-title-form.right-elements {
  margin-left: 25px
}